body {
    background-image: linear-gradient( 226.4deg,  rgba(255,26,1,1) 28.9%, rgba(254,155,1,1) 33%, rgba(255,241,0,1) 48.6%, rgba(34,218,1,1) 65.3%, rgba(0,141,254,1) 80.6%, rgba(113,63,254,1) 100.1% );
}
header {
    display: flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: aquamarine;
    gap: 28px;
    text-transform: uppercase;
}

.nav-item:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: aquamarine;
}